.offerList__container {
    display: flex;
    gap: 3%;
    height: 30%;
    overflow-x: auto;
    white-space: nowrap;
    width: fit-content;
    background-color: aqua;
    padding: 2%;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
}