.offerList__container {
    display: flex;
    gap: 5%;
    height: 30%;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 2%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.offerList__button {
    background-color: transparent;
    border: none;
}