.swipePage__container {
    height: 100%;
}

.swipe {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    padding: 5%;
}

.cardContainer {
    width: 100vw;
    height: 100%;
}

.card {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.cardContent {
    width: 100%;
    height: 100%;
}