.employeesSwipe__container {
    height: 30%;
}

.employerHome__container--upSection {
    height: 50%;
}

.employerHome__container--createNewOffer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.employerHome__container--downSection {
    display: flex;
    flex-direction: row;
}

.employerHome__text--noOfferSelected {
    margin: 17%;
}

.employerHome__container--swipe {
    width: 50%;
    height: 100%;
}

#modal {
    width: 20%;
    margin-left: 20vw;
}

.employerHome__container--matches {
    width: 50%;
    height: 100%;
    padding: 2%;
    margin-top: 5%;
}