#navBar {
    width: 100%;
    height: 8%;
    background-color: #5895fe;
}

#navBar__icon {
    color: white;
    font-size: x-large;
    font-weight: 700;
}

#navBar__link--logout {
    font-weight: 700;
}

#navBar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}