#ProfilePage__newOfferButton {
    border: none;
    margin-top: 7%;
}

.ProfilePage__newOfferButton--link {
    color: aliceblue;
    text-decoration: none;
}

#ProfilePage__updateProfileButton {
    background-color: black;
    border: none;
}

.ProfilePage__updateProfileButton--link {
    color: aliceblue;
    text-decoration: none;
}

#userDetail__button--update {
    padding-top: 20%;
    background-color: transparent;
}

.userDetail__button--update--link {
    margin-top: 10%;
    text-decoration: none;
}