.employeesSwipe {
    position: absolute;
    margin: 0 auto;
    width: 250px;
    height: 300px;
    padding: 5%;
}

.employeeCard {
    position: relative;
    background-color: #fff;
    width: 140px;
    height: 180px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.swipe__text--title {
    background-color: transparent;
}