footer {
    position: relative;
    background-color: #5895fe;
    color: white;
    text-align: center;
    font-size: .6em;
    width: 100%;
    height: 12%;
}

.footer__container--buttons {
    padding-top: 2%;
}