.footerButton {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 5%;
}

.footerButton:hover {
    background-color: black;
}

.footerButton__link {
    color: antiquewhite;
    text-decoration: none;
}